	<!-- Header y head-->
	

	<%- include("./partials/header") %>

	<!-- /Headery head -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<h2 class="col-12"> 
			</h2>
			<% for( let i = 0; i < productos.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/detalle/<%= productos[i].id %>">
							<figure class="product-box_image">
								<img src="<%= productos[i].nombre_archivo_imagen%>" alt="celular">
							</figure>
							<article class="product-box_data">
								<h2> <%= productos[i].nombre_producto %></h2>
							</a>
								<p> <%= productos[i].descripcion%></p>
								<p>Publicado por: <a href="/perfil/<%= productos[i].usuario.id %>"><%= productos[i].usuario.nombre_usuario%></a></p>
								<p>Comentarios: <%= productos[i].comentarios.length%></p>  
							</article>
						
					</section>
				</div>
			<% } %>

			<% if (productos.length==0) { %>
				<p>No hay resultados para su criterio de búsqueda</p>
			   
			  <% } else{ %>
				<ul>

			  
						
						
			  
					  
					  <% } %>
					

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>